.wrap {
  padding: 3rem 0;
  .presentation {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
    background-color: rgba(211, 211, 211, 0.04);

    .content {
      h3 {
        font-weight: 700;
        font-size: 2.5rem;
      }
      .slogan {
        padding-bottom: 2rem;
      }
      .badges, .infos {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        padding: 1.4rem 0;
      }

      .production_countries, .spoken_languages {
        padding-bottom: 2rem;

        h3 {
          font-weight: 400;
          font-size: 1.5rem;
        }
      }
    }
  }

  .details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    gap: 1rem;
    padding: 3rem 0;
    background-color: rgba(211, 211, 211, 0.16);
  }

  a.btn-info {
    margin: 2rem 0;
  }
}
